<!DOCTYPE html>
<title>Facebook</title>
<style>
body {
  background-color: gray;
}
.card {
  padding: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  box-shadow: -10px 10px 8px black;
}
</style>

<h1>CSSI Wall</h1>
<div class="card">
  <form action="/wall" method="post">
    <label>Enter your message</label>
    <input name="message"><br><br><br>
    <label>Enter your name</label>
    <input type"text" name="name">
    <button>Submit</button>
  </form>
</div>

{% for i in messages %}
  <div class="card" {{}}></div>
  print(messages)
{% enddfor %}
