<!DOCTYPE html>
<title>Google-</title>
<h1>Welcome to Google-</h1>

<div>
    {% if current_user %}
      Welcome, {{current_user.email() }}!
      <a href="{{logout_url}}">Log out</a>
    {% else %}
      <a href="{{login_url}}">Log Out</a>
    {% endif %}
</div>

<div>
  {% if current_user and not current_person %}
  <br><br><br>
  <form action="/create" method="post">
    Your name: <input name="name">
    Bio: <input name="biography">
    <button>Create Profile</button>
</form>
  {% endif %}
</div>

<ul>
{% for person in people %}
  {% if current_user and current_user.email() == person.email %}
    <li><a href="/profile?key={{ person.key.urlsafe() }}">{{person.name}}</li>
  {% else %}
    <li><a href="/profile?key={{person.key.urlsafe()}}">{{person.name}}</a></li>
  {% endif %}
{% endfor %}
</ul>
