<!DOCTYPE html>
<title>Phoebe Achonwa</title>
<link rel="stylesheet" href="stylesheets/phoebe1.css">
<div id="yellow">
  <h1>Phoebe Achonwa</h1>
</div>
<ul>
  <li>Home
  <li><a href="photo.html">My Photos</a>
</ul>

<img src="phoebebird.jpg" height="200">

<br>

<div class="card">
  <center>
<h2>About Me</h2>
<p>My name is Phoebe and I am 17 years old. I was born in Greece and grew up
  in Hayward and I am also Nigerian. I will be attending UC Santa Cruz in Fall
   2018.</p>
 </center>
</div>

<div class="card">
  <center>
<h2>Things I like</h2>
<ul>
  <li>Chicken</li>
  <li>Popcorn</li>
  <li>Musicals</li>
  <li>Coding of course!</li>
  <li>Dancing</li>
</ul>
</center>
</div>

<div class="card">
  <center>
<h2>Get To Know Me</h2>
<ul>
  <li><a href="https://www.linkedin.com/in/phoebeachonwa9ba35b141">Linkedin</a>
  <li><a href="">Twitter</a>
</ul>
</center>
</div>
