<h2>Mad Libs</h2>
<form method=POST action="/story">
Pleae enter a protagonist name:
<input type="text" name="protagonist"/>
<br>
Pleae enter an event:
<input type="text" name="event"/>
<br>
Please enter a Noun:
<input type="text" name="pluralNoun"/>
<br>
Please enter a name:
<input type="text" name="name"/>
<br>
Please enter a skill:
<input type="text" name="skill"/>
<br>
Please enter a number:
<input type="number" name="number"/>
<br>
Please enter a larger number:
<input type="number" name="largerNumber"/>
<br>
Please enter an adjective:
<input type="text" name="adjective"/>
<br>
Please enter a place:
<input type="text" name="place"/>
<br>
<input type="submit" value="Create Story"/>
</form>
