Once upon a time, there was a {{protagonist}} who attended {{event}}. The
{{protagonist}} met a lot of {{pluralNoun}}. But {{protagonist}} messed around
and didn't learn much. {{name}} went over to help out {{protagonist}} with
{{skill}}. {{protagonist}} didn't pay attention and when there was a pop quiz
later, they got {{number}} out of {{largerNumber}} questions right. The quiz
suddenly exploded and {{protagonist}} flew out of {{place}}. That's when
{{protagonist}} woke up and realized it was all a {{adjective}} dream.
